services:
  dev_environment:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: go_dev_env
    volumes:
      - ..:/workspace:cached            
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /workspace
    command: sleep infinity
    environment:
      DATABASE_URL: postgres://ecommerce:ecommerce@ecommerce-database:5432/ecommerce?sslmode=disable
      POSTGRES_HOST: ecommerce-database
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: ecommerce
      POSTGRES_DB: ecommerce

    depends_on:
      - ecommerce-database

  ecommerce-database:
    image: postgres:18-alpine
    container_name: ecommerce-database
    volumes:
      - ecommerce-volume:/data/postgres
    environment:
      - POSTGRES_USER=ecommerce
      - POSTGRES_PASSWORD=ecommerce
      - PGDATA=/data/postgres
      - POSGRES_DB=ecommerce
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: developer
      RABBITMQ_DEFAULT_PASS: developer
volumes:
  ecommerce-volume: