<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <style>
        table {
            border-collapse: collapse;
            width: 40%;
        }
        th, span {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background: #f4f4f4;
        }
    </style>
</head>
<body>

<h2>Product </h2>
        <span>{{.ID}}</span>
        <span>{{.Name}}</span>
        <span>{{printf "%.2f" .Price}}</span>
</body>
</html>
