package product

import "github.com/danyel/ecommerce/internal/common/layouts"

templ Products(products []Product) {
	@layouts.BaseLayout() {
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price (€)</th>
			</tr>
			for _, product := range products {
				<tr>
					<td>{ product.ID }</td>
					<td>{ product.Name }</td>
					<td>{ product.Description }</td>
					<td>{ product.Price }</td>
				</tr>
			}
		</table>
	}
}
