package product

import "github.com/danyel/ecommerce/internal/common/layouts"


templ ProductDetail(product Product) {
	@layouts.BaseLayout() {
		<h2>Product </h2>
		<span>{ product.ID }</span>
		<span>{ product.Name }</span>
		<span>{ product.Price }</span>
	}
}
