name: Go CI (Dev Container + Testcontainers)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.4'

      - name: Build
        run: go build -v ./...
      # Install Dev Container CLI
      - name: Setup Dev Container CLI
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            # Run the devcontainer, with Docker socket mounted
            devcontainer exec \
              --workspace-folder . \
              --docker-host=inherit \
              bash -c "go test -v ./..."
